<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Streaming</title>
    <link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet" />
</head>
<body>
<p>{{ url }}</p>
<video
      id="my-video"
      class="video-js vjs-big-play-centered vjs-theme-sea"
      controls
      preload="auto"
      fluid="true"
      poster="https://www.tutorialspoint.com/videos/sample.png"
      data-setup='{}'
      >
      <!--<source src="https://demo.unified-streaming.com/k8s/features/stable/video/tears-of-steel/tears-of-steel.ism/.m3u8" type="application/x-mpegURL">-->
        <source src="{{ url }}" type="application/x-mpegURL">
   </video>


<script src="https://vjs.zencdn.net/8.3.0/video.min.js"></script>


    <!--<script src="https://cdn.jsdelivr.net/npm/@videojs/http-streaming@2.16.2/dist/videojs-http-streaming.min.js"></script>-->
<script>
var player = videojs('my-video');
   </script>
</body>
</html>